html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: #024653;
    width: 100%;
    height: 60px;
    justify-content: center;
    top: 0;
}

.nav-item {
    padding: 0 15px;
    margin-top: 13px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px;
}

.nav-item:hover {
    margin: 0 15px;
    background-color: #4f3b61;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 15px;
}

.fill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 270px;
    margin-bottom: 100px;
}

.home {
    max-width: 500px;
    margin-left: -30px;
    margin-top: 5px;
}

.home h1 {
    font-size: 40px;
    margin-left: 90px;

}

.home p {
    font-size: 20px;
    margin-left: 90px;
    margin-top: -10px;
}

.image img {
    height: auto;
    width: 530px;
    margin-right: 0px;
    margin-top: -70px;
    display: flex;
}

.about {
    display: flex;
    font-size: 15px;
    height: 350px;
    background-color: #024653;
    color: white;
    padding: 30px;
}

.about-item {
    margin-left: 150px;
    margin-top: 30px;
    text-align: justify;
    font-size: 12px;
}

.about-item1 {
    margin-left: 20px;
    margin-top: 90px;
    margin-right: 130px;
    text-align: justify;
}

.about-item h1 {
    font-size: 30px;
}

.about-item p {
    font-size: 15px;
}

.about-item1 p {
    font-size: 15px;
}

.container {
    padding: 5px;
    margin-top: 70px;
    margin-bottom: -190px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 10px;
    gap: 5px;
    margin-left: 150px;
    margin-right: 90px;
    margin-top: 0px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
    margin: 2px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    transition: transform 1500ms;
}

.item img:hover {
    transform: scale(1.2);
}

#hadua {
    margin-top: -10px;
    margin-left: 150px;
    font-size: 30px;
}

footer {
    background-color: #024653;
    color: white;
    padding: 20px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    width: 73px;
    height: auto;
    margin-right: 15px;
}

.logo h1 {
    font-size: 18px;
    margin: 0;
    margin-top: 8px;
}

.contact-info {
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

.contact-info a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.contact-info p {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
}

@media (max-width: 850px) {
    .navbar {
        height: auto;
    }

    .fill {
        flex-direction: column;
    }

    .image {
        order: 1;
        margin: 20px auto 0;
        text-align: left;
        margin-left: -260px;
    }

    .home {
        order: 2;
        text-align: left;
        margin-top: 5px;
        margin-left: -100px;
    }

    .about {
        flex-direction: column;
        height: 600px;
    }

    .about-item,
    .about-item1 {
        margin: 20px;
    }

    #hadua {
        margin-left: 25px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 gambar per baris */
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    footer {
        flex-direction: column;
        margin-top: 200px;

    }

    .footer-content,
    .logo,
    .contact-info {
        flex-direction: column;
        margin: 10px;
        justify-content: center;
    }
}

@media (max-width: 600px) {

    .navbar {
        height: auto;
    }

    .fill {
        flex-direction: column;
    }

    .image {
        order: 1;
        margin: 20px auto 0;
        text-align: left;
        margin-left: -260px;
    }

    .home {
        order: 2;
        text-align: left;
        margin-top: 5px;
        margin-left: -100px;
    }

    .about {
        flex-direction: column;
        height: 600px;
    }

    .about-item,
    .about-item1 {
        margin: 20px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        /* 1 gambar per baris */
        margin-right: 40px;
    }

    footer {
        flex-direction: column;
        margin-top: 200px;

    }

    .footer-content,
    .logo,
    .contact-info {
        flex-direction: column;
        margin: 10px;
        justify-content: center;
    }
}